/* ANIMATIONS */

@-webkit-keyframes logo 
{
    0% { opacity: 0; top: 50px; }
    25% { opacity: 1; top: 0; -webkit-transform: rotateZ(0deg); }
    30% { -webkit-transform: rotateZ(0deg); }
    80% { -webkit-transform: rotateZ(1800deg); }
    100% { -webkit-transform: rotateZ(1800deg); }
}

@-webkit-keyframes caption 
{
    0% { opacity: 0; -webkit-transform: translateX(380px); }
    30% { opacity: 0; -webkit-transform: translateX(380px); }
    60% { opacity: 0; }
    80% { opacity: 1; -webkit-transform: translateX(0px); }    
    100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-webkit-keyframes bg_red
{
    0% { opacity: 0; }
    30% { opacity: 0; left: -2000px; }
    43% { opacity: 1; left: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes bg_yellow
{
    0% { opacity: 0; }
    38% { opacity: 0; left: 2000px; }
    50% { opacity: 1; left: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes bg_green
{
    0% { opacity: 0; }
    45% { opacity: 0; left: -2000px; }
    65% { opacity: 1; left: -973px; }
    100% { opacity: 1; }
}