/* ANIMATIONS */

@-webkit-keyframes container 
{
    0% { border: 2px solid white; border-radius: 5px; box-shadow: 0 0 10px white; }
    80% { border: 2px solid white; border-radius: 5px; box-shadow: 0 0 10px white; }
    100% { border: 2px solid #444; border-radius: 5px; box-shadow: 0 0 10px #444; }
}

@-webkit-keyframes logo 
{
    0% { opacity: 0; top: 50px; }
    25% { opacity: 1; top: 0; -webkit-transform: rotateZ(0deg); }
    30% { -webkit-transform: rotateZ(0deg); }
    80% { -webkit-transform: rotateZ(1800deg); }
    100% { -webkit-transform: rotateZ(1800deg); }
}

@-moz-keyframes logo 
{
    0% { opacity: 0; top: 50px; }
    25% { opacity: 1; top: 0; -moz-transform: rotateZ(0deg); }
    30% { -moz-transform: rotateZ(0deg); }
    80% { -moz-transform: rotateZ(1800deg); }
    100% { -moz-transform: rotateZ(1800deg); }
}

@-webkit-keyframes caption 
{
    0% { opacity: 0; -webkit-transform: translateX(380px); }
    30% { opacity: 0; -webkit-transform: translateX(380px); }
    60% { opacity: 0; }
    80% { opacity: 1; -webkit-transform: translateX(0px); }    
    100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-moz-keyframes caption 
{
    0% { opacity: 0; -moz-transform: translateX(380px); }
    30% { opacity: 0; -moz-transform: translateX(380px); }
    60% { opacity: 0; }
    80% { opacity: 1; -moz-transform: translateX(0px); }    
    100% { opacity: 1; -moz-transform: translateX(0px); }
}

@-webkit-keyframes bg_red
{
    0% { opacity: 0; }
    30% { opacity: 0; left: -2000px; }
    43% { opacity: 1; left: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes bg_red
{
    0% { opacity: 0; }
    30% { opacity: 0; left: -2000px; }
    43% { opacity: 1; left: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes bg_yellow
{
    0% { opacity: 0; }
    38% { opacity: 0; left: 2000px; }
    50% { opacity: 1; left: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes bg_yellow
{
    0% { opacity: 0; }
    38% { opacity: 0; left: 2000px; }
    50% { opacity: 1; left: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes bg_green
{
    0% { opacity: 0; }
    45% { opacity: 0; left: -2000px; }
    65% { opacity: 1; left: -1256px; }
    100% { opacity: 1; }
}

@-moz-keyframes bg_green
{
    0% { opacity: 0; }
    45% { opacity: 0; left: -2000px; }
    65% { opacity: 1; left: -973px; }
    100% { opacity: 1; }
}

@-webkit-keyframes show_code
{
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes show_code
{
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes shake_code
{
    0% { left: 0; }
    90% { left: 0; }
    92% { left: -20px; }
    94% { left: 20px; }
    96% { left: -20px; }
    98% { left: 20px; }
    100% { left: 0; }
}

@-moz-keyframes shake_code
{
    0% { left: 0; }
    90% { left: 0; }
    92% { left: -20px; }
    94% { left: 20px; }
    96% { left: -20px; }
    98% { left: 20px; }
    100% { left: 0; }
}