body
{
    font-family: arial;
    overflow: hidden;
}

/* BACKGROUNDS */

.bg 
{
    position: absolute;
    width: 2000px;
    height: 1500px;
}

.green
{
    background-color: #255928;
    top: -464px;
    left: -973px;
    -webkit-transform: rotateZ(58deg) skew(30deg);
    z-index: 3;
    
    -webkit-animation-name: bg_green;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.red
{
    background-color: #A5332B;
    top: -1223px;
    z-index: 2;
    
    -webkit-animation-name: bg_red;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.yellow
{
    background-color: #A98E09;
    z-index: 1;
    
    -webkit-animation-name: bg_yellow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

/* LOGO n PHRASE */

article#animation
{
    position: absolute;
    top: 384px;
    left: 50%;
    height: 205px;
    width: 726px;
    margin-top: -160px;
    margin-left: -363px;    
    
    z-index: 4;
}

figure img[src*="chrome"]
{
    position: absolute;        
    width: 170px;
    right: 0;
    
    -webkit-animation-name: logo;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

figure figcaption
{
    position: absolute;
    left: 60px;
    margin-top: 66px;
    font-size: 44px;
    color: #EEE;
    
    text-shadow: 2px 2px 7px black;
    
    -webkit-animation-name: caption;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

/* GET THE CODE */

aside
{
    position: absolute;
    margin: 30px;
    z-index: 3;
    
    -webkit-animation-name: show_code;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    
    -webkit-animation-name: shake_code;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

aside a 
{
    display: block;
    padding: 8px 10px;
    border: 1px solid gainsboro;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 2px 2px 8px black;

    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */    
    
    -webkit-transition: -webkit-transform 200ms;
}

aside a:hover
{
    -webkit-transform: scale(1.1);
}

/* GCF Iframe Overlay */

.chromeFrameOverlayContent, .chromeFrameOverlayUnderlay
{
    display: block;
}

.chromeFrameOverlayCloseBar
{
    display: none;
}