body
{
    font-family: arial;
    overflow: hidden;
}

/* BACKGROUNDS */

.bg 
{
    position: absolute;
    width: 2000px;
    height: 1500px;
}

.green
{
    background-color: #255928;
    top: -464px;
    left: -973px;
    -webkit-transform: rotateZ(58deg) skew(30deg);
    z-index: 3;
    
    -webkit-animation-name: bg_green;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.red
{
    background-color: #A5332B;
    top: -1223px;
    z-index: 2;
    
    -webkit-animation-name: bg_red;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.yellow
{
    background-color: #A98E09;
    z-index: 1;
    
    -webkit-animation-name: bg_yellow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

/* LOGO n PHRASE */

article#animation
{
    /*display: none;*/
    
    position: absolute;
    top: 384px;
    left: 50%;
    height: 205px;
    width: 726px;
    margin-top: -160px;
    margin-left: -363px;    
    
    z-index: 4;
}

figure img[src*="chrome"]
{
    position: absolute;        
    width: 170px;
    right: 0;
    
    -webkit-animation-name: logo;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

figure figcaption
{
    position: absolute;
    left: 60px;
    margin-top: 66px;
    font-size: 44px;
    color: #EEE;
    
    text-shadow: 2px 2px 7px black;
    
    -webkit-animation-name: caption;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

/* GCF Iframe Overlay */

.chromeFrameOverlayContent, .chromeFrameOverlayUnderlay
{
    display: block;
}

.chromeFrameOverlayCloseBar
{
    display: none;
}